.result-section {
    height: 100vh;
   width: 100vw;
   background-color: hsl(206, 92%, 94%);
   display: flex;
   justify-content: center;
   align-items: center;
}
.result-container-box{
    background-color: white;
    width: 40%;
    border-radius: 1rem;
    padding: 3rem 8rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4);
}